*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <---------------Section1---------------> */

/* <--------------- Section1- white Nav---------------> */
.section1_whiteNav{
    padding: 0 50px;
    display: none;
}
.section1_whiteNav i{
    color: black;
    font-size: 25px;
}
.section1_whiteNav img{
    width: 100px;
    margin: 10px;
}

/* <---------------Section1-Navbar1---------------> */
.section1_navbar1{
    color: white;
    padding: 5px 180px;
    display: flex;
    justify-content: flex-end;
    background-color: #081528;
    
}
.section1_navbar1_para{
    margin: 10px 0;
    padding: 0 10px;
    color: #ffffffcc;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-right: 1px solid rgba(255,255,255,0.2);
}
.section1_navbar1_para:nth-child(3){
    border: none;
}
.section1_navbar1_para i{
    color: #fe982f;
    margin: 0 10px;
}
.section1_navbar1_para a{
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.section1_navbar1_para a:hover{
    color: #fe982f;
}
.section1_navbar1_para:nth-child(2){
    display: flex;
    align-items: center;
}
/* <---------------Section1-Navbar2---------------> */
.section1_navbar2-logo{
    background-color: white;
    padding: 5px;
}
.section1_navbar2-logo img{
    /* background: whitesmoke; */
    width: 70px;
    /* margin: 0 10px; */
}
.section1_navbar2{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fe982f;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 2;
}
.navbar2_links{
    margin-left: 182px;
    /* position: relative; */
}
.nav2Link_aft{
    position: relative;
    color: white;
    margin: 0 12px;
    padding: 5px 0;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar2_socialIcons a{
    /* width: 35px; */
    /* height: 35px; */
    border: 1px solid white;
    padding: 5px;
    /* margin: 5px; */
}
.navbar2_socialIcons i{
    width: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
}
.navbar2_socialIcons a:hover{
    background-color: white;
}
.navbar2_socialIcons a:hover i{
    color: #fe982f;

}
.navbar2_socialIcons .navbar2_searchI{
    border: none;
}
.navbar2_socialIcons a:hover{
    background-color: white;
}
.navbar2_socialIcons a:hover i{
    color: #fe982f;

}
.navbar2_socialIcons .navbar2_searchI{
    border: none;
}

.nav2Link_aft::after{
    content: "";
    width: 15px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0px;
    opacity: 0;
}
.nav2_liPage:hover a::after{
    opacity: 1;
}
.nav2_liPage::after{
    opacity: 1;
}
.nav2Link_aft:hover::after{
    opacity: 1;
}
.navbar2_socialIcons a:nth-child(1){
    border: none;
}
/* <--------------- Section1-LogoBox ---------------> */
.section1_logoBox{
    padding: 30px 30px 20px;
    position: absolute;
    top: 0;
    left: 240px;
    background-color: white;
    z-index: 3;
    /* display: none; */
}

/* <---------------Section3---------------> */
.section3{
    padding: 100px 0;
    background-image: url(images/AboutUs2/section3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3_Content{
    text-align: center;
}
.section3_Content h1{
    color: white;
    font-size: 41px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 15px;
}
.section3_Content p{
    color: white;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}
.section3_Content p a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
}
.section3_Content span{
    color: #fe982f;
}
/* <---------------Section4---------------> */
.section4{
    background-color: #a8a8a822;
    padding: 60px;
    display: flex;
    justify-content: center;
}

.section4_subBlog{
    width: 350px;
    padding: 20px;
    /* border: 2px solid black; */
}
.section4_blog {
    box-shadow: 4px 4px 20px rgba(204, 204, 204, 0.259);
    background-color: white;
    width: 800px;
    margin: 20px;
}
.section4_blog img{
    width: 800px;
}
.section4_blog h1{
    padding: 10px;
    margin: 20px 0;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
}
.section4_blog_section2{
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.101);
    border-left: none;
    border-right: none;
}
.section4_blog-left span{
    color: #666666;
    margin: 10px;
    padding: 0 10px ;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-right: 1px solid rgba(0, 0, 0, 0.101);
}
.section4_blog-right span{
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.section4_blog-left span:nth-child(2){
    border: none;
}
.section4_blog p{
    padding: 10px;
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
}
.section4_blog_btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.section4_blog_btnContainer button{
    padding: 10px 20px;
    border: 1px solid #081528;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.section4_blog_btnContainer span{
    color: #666666;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.section4-subBolg-containers{
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}
.section4-subBolg-search{
    padding: 20px;
}
.section4-subBolg-search h1{
    padding: 10px 0;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 15px;
    border-bottom: 2px solid #66666638 ;
}
.section4-subBolg-search input{
    outline: none;
    border: none;
    background-color: #f8f9fa;
    padding: 10px 20px;
    width: 80%;
}
.section4_search-field{
    background-color: #f8f9fa;
}
.section4-subBolg-categories{
    padding: 20px;
}
.section4-subBolg-categories h1{
    padding: 10px 0;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 15px;
    border-bottom: 2px solid #66666638 ;
}
.section4-subBolg-categories ul li{
    list-style: none;
    margin-bottom: 10px;
    color: #666666;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 0 10px;
}
.section4-list-check{
    display: flex;
    align-items: center;
}
.section4-subBolg-articles h1{
    padding: 10px 0;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 15px;
    border-bottom: 2px solid #66666638 ;
}
.section4-article{
    display: flex;
    text-align: center;
}
.section4-article img{
    width: 100px;
    margin: 10px;
}
.section4-article-content h2{
    padding: 20px 0 5px;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    
}
.section4-article-content p{
    color: #666666;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.section4-subBolg-subscribe {
    padding: 50px 10px;
}
.section4-subBolg-subscribe h1{
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 15px;
    text-align: center;
}
.section4-subBolg-subscribe p{
    width: 100%;
    color: #666666;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
}
.btn-container{
    width: 120px;
    height: 50px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}
.btn-container h1{
    font-size: 12px;
    padding: 5px;
    position: relative;
    transition: all 0.6s ease-in-out;
}
/* <---------------Section4-hover---------------> */
.btn-container::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    /* border: 2px solid #081528; */
    background-color: #081528;
    transition: all 0.6s ease-in-out;
}
.btn-container:hover:before{
    transform: translateX(100%);
}
.btn-container:hover h1{
    color: white;
}
/* <---------------Section4-subBtn---------------> */
.subscribe-btn{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px ;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-btn1{
    border: 2px solid #000000bc;
    color: #666666;
    position: relative;
    overflow: hidden;
}
.subscribe-btn2{
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #fe982f;
    position: relative;
    overflow: hidden;
}
.subscribe-btn h1{
    position: relative;
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    transition: all 0.6s ease-in-out;
}

/* <---------------Section4-subBtn-hover---------------> */
.subscribe-btn2::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: #081528;
    transition: all 0.6s ease-in-out;
}
.subscribe-btn2:hover:before{
    transform: translateX(100%);
}
.subscribe-btn1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: #081528;
    transition: all 0.6s ease-in-out;
}
.subscribe-btn1:hover:before{
    transform: translateX(100%);
}
.subscribe-btn1:hover h1{
    color: white;
}
/* <---------------Section9---------------> */
.section9{
    display: flex;
}
.section9_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 3;
    padding: 20px;
    background-color: #0d1c33;
}
.section9_logo img{
    margin: 10px;
}
.section9_email{
    display: flex;
    align-items: center;
    flex-grow: 3;
    background-color: #fe982f;
}
.section9_heading{
    margin: 0 50px;
    display: flex;
    align-items: center;
}
.section9_heading h1{
    color: white;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5px;
}
.section9_mail-icon{
    margin: 20px;
    width: 70px;
    height: 70px;
    padding: 10px;
    background-color: #ffffffcc;
    border-radius: 50%;
}
.section9_heading p{
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.section9_mailInput{
    display: flex;
}
.section9_mailInput input{
    padding: 15px 45px 15px 10px;
    outline: none;
    border: transparent;
}
.section9-label{
    padding: 14px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081528;
}
.section9-label label i{
    color: white;
}

/* <--------------- Section10---------------> */
.section10{
    background-image: url(images/home1/section13-bg.jpg);
    padding: 80px 0;
}
.section10_Content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
.section10_box{
    margin: 5px;
    width: 300px;
}
.section10_box h2{
    color: white;
    font-size: 21px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 15px;
}
.section10_box1_content{
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
}
.section10_box1_content:nth-child(3){
    border: none;
}
.section10_box1_content i{
    color: #fe982f;
}
.section10_box1_content p{
    padding: 0 20px;
    width: 80%;
    color: #ffffffcc;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.section10_box1_content2 a{
    color: #ffffffcc;
    text-decoration: none;
}
.section10_box2-Content{
    display: flex;
}
.section10_box2-Content ul{
    color: white;
    margin: 10px 40px 0 0;
    font-size: 14px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
.section10_box2-Content ul li{
    margin-bottom: 10px;
    /* position: relative; */
}
.section10_box2-Content ul li::before{
    content: "\2713";
    color: #fe982f;
    font-weight: 900;
    margin: 5px;
}
.section10_box3Cont{
    width: 90%;
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
}
.section10_box3Cont:nth-child(2){
    border: none;
}
.section10_box3-heading a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    
}
.section10_box3-heading p{
    color: #ffffffcc;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.section10_img{
 margin: 0 20px 0 0 ;
}
.section10_box4 h1{
    font-weight: 400;
    color: #fe982f;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.section10_box4 p{
    font-size: 14px;
    color: #ffffffcc;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.sec10-btnContainer{
    width: 80%;
    border: 2px solid #fe982f;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    color: #fe982f;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    overflow: hidden;
}
.sec10-btnContainer h4{
    position: relative;
    transition: all 1s ease-in-out;
}
/* <--------------- Section10-hover---------------> */
.sec10-btnContainer::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fe982f;
    transition: all 1s ease-in-out;
    
}
.sec10-btnContainer:hover::before{
    transform: translateX(100%);
    
}
.sec10-btnContainer:hover h4{
    color: white;
    
}

/* <--------------- Section11---------------> */
.section11{
    color: white;
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d1c33;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.section11_para a{
    color: #ffffffcc;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.section11_para a:hover{
    color: #fe982f;
}
.section11_logo i{
    cursor: pointer;
    color: #ffffffcc;
    margin: 5px;
}
.section11_logo i:hover{
    color: white;
}

@media screen and (min-width:425px) and (max-width:769px) {
    .header_section1{
        display: none;
    }
    .section1_navbar2{
        display: none;
    }
    .section1_whiteNav{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
    }

    /* <--------------- Section4---------------> */
    .section4{
        flex-direction: column;
        padding: 25px;
        align-items: center;
        justify-content: center;
    }
    .section4_mainBlog{
        width: 100%;
    }
    .section4_blog{
        margin: 0;
        width: 100%;
    }
    .section4_blog img{
        width: 100%;
       
    }
    .section4_search-field{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
    .section4_search-field input{
        width: 90%;
    }
    .section4_search-field i{
        text-align: right;
    }
    .section4-list-check{
        margin-bottom: 15px;
    }
    .section4-article{
        margin-bottom: 15px;
    }
    .section4-article-content p{
        text-align: left;
    }
    .section4_subBlog{
        width: 100%;
        padding: 0px;
        margin-top: 15px;
    }
    .section4-subBolg-articles{
        padding: 15px 5px;
    }
    .section4-subBolg-subscribe{
        padding: 50px 30px 20px;
    }
    .section4-subBolg-subscribe p{
        text-align: center;
    }
    .subscribe-btn{
        margin-bottom: 8px;
    }



    /* <--------------- Section9---------------> */
    .section9{
        flex-direction: column;
        align-items: flex-start;
    }
    .section9_logo{
        width: 100%;
        display: flex;
    }
    .section9_email{
        width: 100%;
        padding: 15px;
    }
    .section9_heading{
        margin: 0 20px;
    }
    .section9_heading p{
        margin-bottom: 0;
    }
    .section9_mailInput{
        align-items: center;
    }
    .section9_mailInput p{
        margin-bottom: 10px;
    }
    .section9-label{
        width: 100%;
    }
    /* <--------------- Section10---------------> */
    .section10{
        padding: 20px 0;
    }
    .section10_Content{
        justify-content: space-between;
        flex-wrap: wrap;
        /* flex-grow: 1; */
    }
    .section10_box3-heading p{
        margin-bottom: 5px;
        text-align: left;
    }
    .section10_box3Cont{
        margin-bottom: 5px;
    }




}
@media screen and (min-width:375px) and (max-width:426px){
    /* <--------------- Section4---------------> */
    .section4{
        flex-direction: column;
        padding: 25px;
        align-items: center;
        justify-content: center;
    }
    .section4_mainBlog{
        width: 100%;
    }
    .section4_blog{
        margin: 0;
        width: 100%;
    }
    .section4_blog img{
        width: 100%;
       
    }
    .section4_subBlog{
        width: 100%;
        padding: 0px;
        margin-top: 15px;
    }
    .section4-subBolg-articles{
        padding: 15px 5px;
    }
    .section4-subBolg-subscribe{
        padding: 30px 10px 10px;
    }
    .subscribe-btn{
        margin-bottom: 8px;
    }
    .section4_blog_section2{
        flex-direction: column;
        align-items: center;
    }
    .section4_blog-left{
        margin-bottom: 10px;
    }
    /* <--------------- Section9---------------> */
    .section9{
        flex-direction: column;
        align-items: flex-start;
    }
    .section9_logo{
        width: 100%;
        display: flex;
    }
    .section9_logo img{
        width: 50%;
    }
    .section9_email{
        width: 100%;
        flex-direction: column;
    }
    .section9_logo img{
        width: 50%;
    }
    .section9_heading{
        margin: 20px;
    }
    .section9_heading h1{
        font-size: 30px;
        text-align: center;
    }
    .section9_heading p{
        margin-bottom: 0;
    }
    .section9_mailInput{
        align-items: center;
    }
    .section9_mailInput p{
        margin-bottom: 10px;
    }
    .section9-label{
        width: 100%;
    }
    .section9_heading p{
        font-size: 13px;
        text-align: center;
    }
    /* <--------------- Section10---------------> */
    .section10{
        padding: 20px 0;
    }
    .section10_box{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .section10_Content{
        flex-wrap: wrap;
        /* flex-grow: 1; */
    }
    .section10_box3-heading p{
        text-align: center;
        margin-bottom: 5px;
        text-align: left;
    }
    .section10_box3Cont{
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .section10_box1_content p{
        width: 100%;
        margin: 0;
    }
    .section10_box2-Content ul{
        margin: 0 10px;
    }
    .section10_box2-Content ul li{
        width: 130px;
    }
 /* <--------------- Section11---------------> */
    .section11{
        padding: 10px;
        flex-direction: column;
    }
    .section11_para {
        text-align: center;
        margin-bottom: 10px;
    }
}
@media screen and (min-width:320px) and (max-width:376px){
    .header_section1{
        display: none;
    }
    .section1_navbar2{
        display: none;
    }
    .section1_whiteNav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .section1_whiteNav i{
        font-size: 18px;
    }
    /* <--------------- Section4---------------> */
    .section4{
        flex-direction: column;
        padding: 25px;
        align-items: center;
        justify-content: center;
    }
    .section4_mainBlog{
        width: 100%;
    }
    .section4_blog{
        margin: 0;
        width: 100%;
    }
    .section4_blog img{
        width: 100%;
    }
    .section4_subBlog{
        width: 100%;
        padding: 0px;
        margin-top: 15px;
    }
    .section4-subBolg-articles{
        padding: 15px 5px;
    }
    .section4-subBolg-subscribe{
        padding: 30px 10px 10px;
    }
    .subscribe-btn{
        margin-bottom: 8px;
    }
    .section4_blog_section2{
        flex-direction: column;
        align-items: center;
    }
    .section4_blog-left{
        margin-bottom: 10px;
    }
     /* <--------------- Section9---------------> */
     .section9{
        flex-direction: column;
        align-items: flex-start;
    }
    .section9_logo{
        width: 100%;
        display: flex;
    }
    .section9_logo img{
        width: 50%;
    }
    .section9_email{
        width: 100%;
        flex-direction: column;
    }
    .section9_heading{
        margin: 20px 10px  10px;
    }
    .section9_heading p{
        margin-bottom: 0;
        font-size: 13px;
    }
    .section9_mailInput{
        align-items: center;
    }
    .section9_mailInput p{
        margin-bottom: 10px;
    }
    .section9_heading h1{
        font-size: 20px;
    }
    .section9-label{
        width: 100%;
    }
    /* <--------------- Section10---------------> */
    .section10{
        padding: 20px 0;
    }
    .section10_box{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section10_box3-heading p{
        margin-bottom: 5px;
        text-align: left;
    }
    .section10_box3Cont{
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .section10_box1_content p{
        width: 100%;
        margin: 0;
    }
    .section10_box2-Content ul{
        margin: 0 10px;
    }
/* <--------------- Section11---------------> */
    .section11{
        padding: 10px;
        flex-direction: column;
    }
    .section11_para {
        text-align: center;
        margin-bottom: 10px;
    }




    
}
@media screen and (min-width:0) and (max-width: 321px){
    /* <--------------- Section4---------------> */
    .section4{
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .section4_mainBlog{
        width: 100%;
    }
    .section4_blog{
        margin: 0;
        width: 100%;
    }
    .section4_blog p{
        margin-bottom: 10px;
    }
    .section4_blog img{
        width: 100%;
       
    }
    .section4_subBlog{
        width: 100%;
        padding: 0px;
        margin-top: 15px;
    }
    .section4-subBolg-articles{
        padding: 15px 5px;
    }
    .section4-subBolg-subscribe{
        padding: 30px 10px 10px;
    }
    .subscribe-btn{
        margin-bottom: 8px;
    }
    .section4_blog_section2{
        flex-direction: column;
        align-items: center;
    }
    .section4_blog-left{
        margin-bottom: 10px;
    }
    
     /* <--------------- Section9---------------> */
     .section9{
        flex-direction: column;
        align-items: flex-start;
    }
    .section9_logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section9_logo img{
        width: 50%;
    }
    .section9_email{
        width: 100%;
        flex-direction: column;
    }
    .section9_heading{
        margin: 20px;
    }
    .section9_heading p{
        margin-bottom: 0;
    }
    .section9_mailInput{
        align-items: center;
    }
    .section9_mailInput p{
        margin-bottom: 10px;
    }
    .section9-label{
        width: 100%;
    }
    .section9_heading h1{
        font-size: 20px;
    }
    .section9_heading p{
        font-size: 13px;
    }
    /* <--------------- Section10---------------> */
    .section10{
        padding: 20px 0;
    }
    .section10_box{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin: 10px 0;
    }
    .section10_box h2{
        text-align: center;
    }
    .section10_Content{
        margin: 0 auto;
        justify-content: left;
        flex-wrap: wrap;
        /* flex-grow: 1; */
    }
    .section10_box3-heading p{
        margin-bottom: 5px;
        text-align: left;
    }
    .section10_box3Cont{
        width: 100%;
        margin-bottom: 5px;
    }
    .section10_box4 p{
        text-align: left;
    }
    .section10_box1_content p{
        width: 100%;
        margin: 0;
    }
    .section10_box2-Content{
        justify-content: center;
    }
    .section10_box2-Content ul{
        margin: 0 10px;
    }
    .sec10-btnContainer{
        margin: 0;
    }
    .section11{
        padding: 10px;
        flex-direction: column;
    }
    .section11_para {
        text-align: center;
        margin-bottom: 10px;
    }


}



